/* blank styles */

.todos-list {
	list-style-type: none;
}

.todos-list li {
	margin-bottom: 5px;
}

.todos-list a.mark {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.todos-list a.markdone {
	background: url('img_glyphicons-halflings.png') no-repeat -288px 2px;
}

.todos-list a.markdelete {
	background: url('img_glyphicons-halflings.png') no-repeat -310px 2px;
}

.todos-list a.mark span {
	display: none;
}

.todos-list .tododone {
	text-decoration: line-through;
}