	
	body {
		width: 1200px;
		margin: 0 auto;
		padding: 0;
	}
	
	/* footer */
	
		.footer {
			padding: 40px 0;
			border-top: 1px dashed #DFDFDF;
			margin-top: 100px;
			color: #979797;
			padding-left: 898px;
		}
	
		.footer a:after {
			content: ',';
			color: #ADADAD;
		}
	
		.footer a {
			color: #8A5F5F;
			text-decoration: none;
		}
		
		.footer a:hover {
			color: #777;
		}
	
	/* header */
	
		.header {
			margin-bottom: 30px;
			padding: 40px 0px;
			text-align: right;
			border-bottom: 1px dashed #DFDFDF;
		}
		
		.header a {
			color: #000;
			text-decoration: none;
			background: #F7F7F7;
			padding: 6px 11px;
			margin: 0 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border: 1px solid #F3F3F3;
		}
		
		.header a:hover {
			background: #FFF;
			border-color: #B1B1B1;
		}
		
		.header strong {
			font-size: 15px;
			float: left;
			color: #000;
		}
		
		.header strong a {
			background: none;
			border: none;
			padding: 0;
		}
		
		.header strong a:hover {
			color: #777;
		}
	
	/* other */
	
	.index body {
		padding-left: 100px;
		padding-bottom: 100px;
	}
	
	/* usr */
	
		.usr label.error {
			display: none !important;
		}
		
		.usr input.error {
			border: 1px solid #DD4040;
		}
	
		/* register */
	
			.usr .register {
				width: 400px;
				margin: 200px auto;
				padding-bottom: 200px;
			}
	
			.usr .register input {
				display: block;
				margin-bottom: 15px;
				width: 100%;
			}
	
			.usr .register button {
				float: right;
			}
	
		/* login */
	
			.usr .login {
				width: 400px;
				margin: 200px auto;
				padding-bottom: 200px;
			}
	
			.usr .login input {
				display: block;
				margin-bottom: 15px;
				width: 100%;
			}
	
			.usr .login button {
				float: right;
			}
	
		/* reset */
	
			.usr .reset {
				width: 400px;
				margin: 200px auto;
				padding-bottom: 200px;
			}
	
			.usr .reset input {
				display: block;
				margin-bottom: 15px;
				width: 100%;
			}
	
			.usr .reset button {
				float: right;
			}
	
	
	/* errors */
	
	.errors body {
		padding: 150px 200px;
		overflow: hidden;
	}
	
	/* support */
	
	.support form {
		margin-top: -272px;
		margin-left: 17px;
		position: absolute;
	}
	
	.support textarea {
		display: block;
		width: 600px;
		height: 200px;
		margin-bottom: 20px;
		resize: none;
		background: rgba(255, 255, 255, 0.93);
	}
	
	.support input {
		width: 220px;
		margin-right: 17px;
		background: rgba(255, 255, 255, 0.93);
	}
	
	.support button {
		background: rgba(66, 146, 127, 0.93);
	}






