	
	@import url('./publics-errors.css');
	@import url('./publics-footer.css');
	@import url('./publics-header.css');
	@import url('./publics-index.css');
	@import url('./publics-support.css');
	@import url('./publics-usr.css');
	
	body {
		width: 1200px;
		margin: 0 auto;
		padding: 0;
	}

	