	<% include ./../_layout-view-header.html %>

	<div class="tabbable">
	
        <ul id="myTab" class="nav nav-tabs">
            <li><a href="#tab1" data-toggle="tab">Registration of new domain</a></li>
        </ul>
	    
	    <div class="tab-content">

		<div class="tab-pane" id="tab1"><form class="form-horizontal" method="post" action="./register">
			
			<fieldset>
			
				<legend>Preregistration is available!</legend>
				
				<input type="hidden" value="c95c7fef636dfba0847b26f2560ea42d" name="svc" />
									
				<div class="control-group">
					<label>Name <abbr>*</abbr><span style="margin-left: 117px;">Surname <abbr>*</abbr></span></label>
					<input class="span2" type="text" name="name" style="width: 138px;" />
					<input class="span2" type="text" name="surname" style="width: 138px;" />
				</div>
				
				<div class="input-prepend control-group">
					<label>Domain <abbr>*</abbr></label>
					<span class="add-on">http://</span>
					<input class="span2" type="text" name="domain" placeholder="yourdomain.com" style="width: 245px;" />
				</div>
				
				<div class="control-group">
					<label>Email <abbr>*</abbr><span style="margin-left: 117px;">Password <abbr>*</abbr></span></label>
					<input class="span2" type="text" name="email" style="width: 138px;" />
					<input class="span2" type="password" name="password" style="width: 138px;" />
				</div>
				
				<div class="control-group">
					<label>Telephone number <abbr>*</abbr></label>
					<input type="text" name="phonePrefix" placeholder="prefix" style="width: 78px;" />
					<input class="span2" type="text" id="registerTelephone" type="text" name="phone" placeholder="number" style="width: 198px;">
				</div>
				
				<div style="margin-left:154px; padding-top:31px; padding-bottom: 31px;">
					<button type="submit" class="btn btn-primary">Register</button>
					<button type="button" class="btn">Cancel</button>
				</div>
				
			</fieldset>
			
		</form></div>
	    
	</div>
	
	
	<% include ../_layout-view-footer.html %>