	
	<% include ./_header.html %>
			
	<header style="margin-top: 37px;">

		<section class="row">
			
			<div class="span6">
				<h1>Samuel Cloud</h1>
				<p class="lead">Your own cloud solution on Amazon S3</p>
			</div>
			
			<div class="span6">
				<div class="well blue">
					<span style="display: block; font-weight: bold; margin-bottom: 1em;">Secure. Fast. Free &amp; Own.</span>
					Samuel Cloud is your own secure solution for scalable and fast cloud storage. Use inexpensive and unlimited file hosting on Amazon S3 with your own domain and yours users.
				</div>
			</div>
			
			<ul class="span12">
				
				<h2 style="margin-top: 45px;">We are amazing</h2>
				
				<li class="well entypo box">
					&#10002; 
					<span class="span">Lightweight - 7kb</span>
				</li>
				
				<li class="well entypo box">
					&#128101;
					<span class="span">User management</span>
				</li>
				
				<li class="well entypo box">
					&#128279;
					<span class="span">Easy to share</span>
				</li>
				
				<li class="well entypo box">
					&#9881;
					<span class="span">Crazy settings</span>
				</li>
				
				<li class="well entypo box">
					&#128711;
					<span class="span">NodeJs speed</span>
				</li>
				
				<li class="well entypo box">
					&#9000;
					<span class="span">Keyboard shortcuts</span>
				</li>
				
				<li class="well entypo box">
					&#128187;
					<span class="span">Fullscreen available</span>
				</li>
				
				<li class="well entypo box">
					&#128248;
					<span class="span">Without database</span>
				</li>
				
				<li class="well entypo box">
					&#9716;
					<span class="span">Disk Statistics</span>
				</li>
				
				<li class="well entypo box">
					&#128274;
					<span class="span">SHA3-512 hashes</span>
				</li>
				
				<li class="well entypo box">
					&#128256;
					<span class="span">Collaborate with friends</span>
				</li>
				
				<li class="well entypo box">
					&#59249;
					<span class="span">Setup a backup</span>
				</li>
				
				<li class="well entypo box">
					&#127748;
					<span class="span">Amazing slideshows</span>
				</li>
				
				<li class="well entypo box">
					&#127916;
					<span class="span">Listen your music</span>
				</li>
				
				<li class="well entypo box">
					&#59177;
					<span class="span">Easy-drop account</span>
				</li>
				
				<li class="well entypo box">
					&#128506;
					<span class="span">Your way</span>
				</li>
				
			</ul>
			
			<div class="span12">
				<div class="well blue" style="margin: 73px 0 40px;">
					<span style="display: block; font-weight: bold; margin-bottom: 1em;">What if ..</span>
					.. all your music, books, photos are under your domain? <br />
					.. 30GB costs 2$ with 99.99% durability? <br />
					.. is it Free, Open Source, Responsive, Simple &amp; Beautiful? <br />
					<span style="display: block; font-weight: bold; margin-top: 1em;">.. there is your own online planet?</span>
				</div>
			</div>
			
		</section>

	</header>

			
	
	<% include ./_footer.html %>