<!DOCTYPE html><html><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<title>n200, Crypted Storage</title>
	
	<link rel="shortcut icon" href="/statics/favicon.ico" />
	
	<link rel="stylesheet" href="/statics/-index-normalizr.css" />
	<link rel="stylesheet" href="/statics/-index-opensans.css" />
	<link rel="stylesheet" href="/statics/-index.css" />

</head><body lang="en">			

	<header>
		
		<h1><a href="./">n200</a></h1>
		<h2>Simple, intelligent and crypted cloud platform</h2>
	
		<aside>
			<h3>Secure. Fast. Free &amp; Own.</h3>
			Samuel Cloud is your own secure solution for scalable and fast cloud storage. Use inexpensive and unlimited file hosting on Amazon S3 with your own domain and yours users.
		<aside>
	
	</header>
	
	
	
	<article class="about">
		
		<h3>So, why to be n200 user?</h3>
		
		<ul>
		
			<li>
				<span>&#10002;</span> 
				<span class="span"><strong>Lightweight.</strong> Our code is under 1MB. That's why we are so flexibile.</span>
			</li>
		
			<li>
				<span>&#128101;</span> 
				<span class="span">Strong <strong>User Management</strong>. You can controll whole access to your account.</span>
			</li>
		
			<li>
				<span>&#128279;</span> 
				<span class="span">It's <strong>easy to share</strong>. One click for Facebook Share, One for Twitter, One for email.</span>
			</li>
		
			<li>
				<span>&#9881;</span> 
				<span class="span">Our <strong>Crazy settings</strong> provides you controll on everything! All data about you.</span>
			</li>
		
			<li>
				<span>&#128711;</span> 
				<span class="span">We use <strong>NodeJs 0.10.14</strong> build on V8. The fastest JS core. Faster than Ruby and Python.</span>
			</li>
		
			<li>
				<span>&#9000;</span> 
				<span class="span">Whole app is super <strong>easy to use</strong>. We do usability test on every feature.</span>
			</li>
		
			<li>
				<span>&#128187;</span> 
				<span class="span">We use <strong>responsive design</strong> on every page. You can use tablet and mobile comfortly.</span>
			</li>
		
			<li>
				<span>&#128248;</span> 
				<span class="span">No database. <strong>No data about you</strong>. No adverts, IPs and ads. We respect your privacy.</span>
			</li>
		
			<li>
				<span>&#9716;</span> 
				<span class="span">We generate free <strong>charts about files</strong> for you. Only you know about your visitors.</span>
			</li>
		
			<li>
				<span>&#128274;</span> 
				<span class="span">Cryptography is our strong side. We use <strong>SHA3-512</strong> for files, urls, passwords. </span>
			</li>
		
			<li>
				<span>&#128256;</span> 
				<span class="span"><strong>Collaborate</strong> with friends. Make your own teams and create your own accounts. </span>
			</li>
		
			<li>
				<span>&#59249;</span> 
				<span class="span"><strong>Setup a backup</strong> when you want and where you want. Never loose your data again.</span>
			</li>
		
			<li>
				<span>&#127748;</span> 
				<span class="span">Upload. Backup.  <strong>Albums. </strong> Share. Order. Slideshows. Galleries. We have it all.</span>
			</li>
					
			<li>
				<span>&#127916;</span> 
				<span class="span">Upload music. <strong>Create albums</strong>. Share with frends. Make own music world.</span>
			</li>
		
			<li>
				<span>&#59177;</span> 
				<span class="span">Do you want leave? You can remove ALL your data with <strong>Easy Drop</strong> everytime.</span>
			</li>
		
			<li>
				<span>&#59224;</span> 
				<span class="span"><strong>Download</strong> you files when you want for free. One click for your custom package of files.</span>
			</li>
		
			<li>
				<span>&#59227;</span> 
				<span class="span">In process of upload we <strong>crypting</strong> all your files without distribuing you. It's pretty.</span>
			</li>
		
			<li>
				<span>&#59177;</span> 
				<span class="span">We <strong>do not store</strong> copy of your files. When you trash something it's really trashed. </span>
			</li>
		
			<li>
				<span>&#59156;</span> 
				<span class="span">We handcraft all code. We love Github and <strong>open source</strong>. We love HTML and Javascript.</span>
			</li>
		
			<li>
				<span>&#127758;</span> 
				<span class="span">You don't need a US teleph. number or address. We are really <strong>global</strong>.</span>
			</li>
		
			<li>
				<span>&#10078;</span> 
				<span class="span">We don't steel your rights. If you'll upload photo it's <strong>still yours</strong>. No copyrights.</span>
			</li>
		
		</ul>
	
	</article>
	
	<article class="pricing">
		
		<h3>Hey! Which one do you want?!</h3>
		
		<form method="post" action="./" enctype="multipart/form-data">
			
			<ul>

				<li>
					<h4>Free for Open Source</h4>
					<span><a href="#">Contact Us</a></span>
					<br/><br/>
					Suspendisse eleifend, arcu eu interdum posuere, urna leo pellentesque risus, mollis mollis quam risus at odio. Vestibulum scelerisque mauris vitae turpis auctor bibendum. Donec enim metus, ornare non laoreet at, malesuada quis risus. <br/><br/>Curabitur venenatis sed dolor ullamcorper viverra. Proin sit amet fringilla lorem. Vestibulum congue pellentesque dui vitae laoreet. <br/><br/>Duis in volutpat leo. Vestibulum sit amet dui fermentum, fringilla libero vitae, fermentum elit. Nunc rhoncus vulputa.
					<br/><br/>
					<input type="radio" name="whichproduct" value="100" />
				</li>

				<li>
					<h4>Cheap for Individuals</h4>
					<span>10€ / Month</span>
					<br/><br/>
					Suspendisse eleifend, arcu eu interdum posuere, urna leo pellentesque risus, mollis mollis quam risus at odio. Vestibulum scelerisque mauris vitae turpis auctor bibendum. Donec enim metus, ornare non laoreet at, malesuada quis risus. <br/><br/>Curabitur venenatis sed dolor ullamcorper viverra. Proin sit amet fringilla lorem. Vestibulum congue pellentesque dui vitae laoreet. <br/><br/>Duis in volutpat leo. Vestibulum sit amet dui fermentum, fringilla libero vitae, fermentum elit. Nunc rhoncus vulputa.
					<br/><br/>
					<input type="radio" name="whichproduct" value="200" />
				</li>

				<li>
					<h4>Unlimited for Professionals</h4>
					<span>20€ / Month</span>
					<br/><br/>
					Suspendisse eleifend, arcu eu interdum posuere, urna leo pellentesque risus, mollis mollis quam risus at odio. Vestibulum scelerisque mauris vitae turpis auctor bibendum. Donec enim metus, ornare non laoreet at, malesuada quis risus. <br/><br/>Curabitur venenatis sed dolor ullamcorper viverra. Proin sit amet fringilla lorem. Vestibulum congue pellentesque dui vitae laoreet. <br/><br/>Duis in volutpat leo. Vestibulum sit amet dui fermentum, fringilla libero vitae, fermentum elit. Nunc rhoncus vulputa.
					<br/><br/>
					<input type="radio" name="whichproduct" value="300" />
				</li>
	
			</ul>

			<section class="customer">
		
				<h3>.. and who you are?<br>.. in n200 we don't store your data, that's you.</h3>

				<input type="text" name="product" placeholder="Choose your product" disabled="disabled" />
				<input type="text" name="name" placeholder="Name" class="name" />
				<input type="text" name="surname" placeholder="Surname" class="name" />
				<input type="text" name="email" placeholder="Your email adress will be never stored" />
				<input type="password" name="password" placeholder="Your password" />
				<input type="password" name="password2" placeholder="Password again" />
				<span class="errors"></span>
				<button type="submit" class="btn btn-primary" name="action" value="signup">Register me!</button>
		
			</section>
		
		</form>
			
	</article>

	<footer>
		
		<span>
			Copyright &copy;2013 &nbsp;&nbsp;&nbsp;&nbsp;n200 - We believe in privacy.  
		</span>
		
		<aside>
			<a href="#">Careers</a>, <a href="#">About us</a>, <a href="#">Blog</a>, <a href="#">Status</a>, <a href="#">Code</a>, <a href="#">Github</a>, <a href="#">Facebook</a>, <a href="#">Twitter</a>.  
		</aside>
		
	</footer>
	
	<div class="blured"></div>
	
	<script src="/statics/js_jquery-2.0.0.js"></script>
	
	<script>
	
		$('.pricing li').on('click', function(){
			
			$(this).find('input').prop('checked', true);
			$('.pricing li').removeClass('selected');
			$(this).addClass('selected');
			
			var samko = $(this).find('h4').text();
			$('.customer input:nth-child(2)').attr('value', samko);
			//$('body').addClass('blur');
			
			$('.customer input:nth-child(2)').addClass('selected');
			$('.customer input:nth-child(3)').focus();
		
		});
		
		$('form').submit(function() {
			
			// required product
			var product = $('.customer input[name=product]').val();
			if (product===''){
				$('.errors').text('You have choose Product!');
				return false;
			}
			
			// required product
			var name = $('.customer input[name=name]').val();
			if (name===''){
				$('.errors').text('You have fill Name!');
				return false;
			}
			
			// required product
			var surname = $('.customer input[name=surname]').val();
			if (surname===''){
				$('.errors').text('You have fill Surname!');
				return false;
			}
			
			// email
			function isValidEmailAddress(email) {
			    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
			    return pattern.test(email);
			}
			
			// email chek
			var email = $('.customer input[name=email]').val();
			if ((!isValidEmailAddress(email)) || email.length<=5) {
				$('.errors').text('Please fill valid email address!');
				return false;
			}
			
			// match passwords
			var password1 = $('.customer input[name=password]').val();
			var password2 = $('.customer input[name=password2]').val();
			if (password1!==password2 || password1=='' || password1.length<=6){
				$('.customer input[name=password]').val('');
				$('.customer input[name=password2]').val('');
				$('.errors').text('Passwords must be same and longer then 6 chars!');
				return false;
			}
			
		});
		
	</script>

</body></html>