<!DOCTYPE html><html class="no-js"><head>

	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>openwrap</title>
	
	<link rel="shortcut icon" href="/statics/favicon.ico" />
	
	<link rel="stylesheet" href="/statics/css_bootstrap.css">
	<link rel="stylesheet" href="/statics/css_main.css">

	<meta name="robots" content="noindex, nofollow" />
	
	<script charset="utf-8" src="/statics/js_jquery-2.0.0.js"></script>
	<script charset="utf-8" src="/statics/js_modernizr-2.6.2.min.js"></script>
	<script charset="utf-8" src="/statics/js_bootstrap.min.js"></script>
	
	<script charset="utf-8" src="/statics/js_underscore.js"></script>
	<script charset="utf-8" src="/statics/js_underscore-string.js"></script>
		
	<link rel="stylesheet" href="/statics/-styles.css">
	<script src="/statics/-script.js"></script>
	
</head><body class="container" lang="en" style="width:1250px;">
	
	<header>
		<form method="post" action="/auth/">	
			<span class="user">No User</span>
			<button type="submit" class="btn btn-link" name="action" value="logout" style="padding:0;float:right">Sign Up</button>
		</form>
	</header>