<!DOCTYPE html><html class="no-js"><head>

	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>u200, business bee</title>
	
	<link rel="shortcut icon" href="/s/favicon.ico" />
	
	<link rel="stylesheet" href="/s/css_bootstrap.css">
	<link rel="stylesheet" href="/s/css_bootstrap-responsive.css">
	<link rel="stylesheet" href="/s/css_main.css">
	<link rel="stylesheet" href="/s/css_bootstrap-my.css">
	<link rel="stylesheet" href="/s/css_fonts.css">

	<meta name="robots" content="noindex, nofollow" />
	
	<script src="/s/js_modernizr-2.6.2.min.js"></script>

</head><body class="container index" lang="en">

	
	<h1><a href="http://u200.org">u200, business bee</a></h1>
	
	<div style="overflow: hidden;">
		
		<section class="box paidplans">
			<h2>Paid plans</h2>
			<p>Unlimited storage, users, projects, websites, emails for GB/0,2$/month.</p>
		</section>
	
		<section class="box besttechnologies">
			<h2>Best technologies</h2>
			<p>Only the best. NodeJs lang, Github repo, Nodejitsu, Google API, Amazon WS.</p>
		</section>
	
		<section class="box business">
			<h2>Scalable and fast</h2>
			<p>We use CDN network in Paris, New York, Tokio and Cairo for you free.</p>
		</section>
	
		<section class="box opensource">
			<h2>Free for Open Source</h2>
			<p>Do you have open source or school project? You don't need to pay.</p>
		</section>
	
	</div>	
	
	<article>
        <h2><script type="text/javascript">today = new Date();BigDay = new Date("Februar 25, 2013");msPerDay = 24 * 60 * 60 * 1000 ;timeLeft = (BigDay.getTime() - today.getTime());e_daysLeft = timeLeft / msPerDay;daysLeft = Math.floor(e_daysLeft);e_hrsLeft = (e_daysLeft - daysLeft)*24;hrsLeft = Math.floor(e_hrsLeft);minsLeft = Math.floor((e_hrsLeft - hrsLeft)*60);document.write(daysLeft + " days " + hrsLeft +" hours and " + minsLeft + " minutes left until Beta.");</script></h2>
		<h2>First 100 users will get 10GB free forever!</h2>
	</article>
	
	<footer>
		<div><span style="color:rgb(196, 196, 196);margin:0 16px 0 0;">version: <%= version %></span> 2013 &copy; u200</div>
	</footer>
	

</body></html>