<!DOCTYPE html><html class="no-js"><head>

	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title></title>
	
	<link rel="shortcut icon" href="/s/favicon.ico" />
	
	<link rel="stylesheet" href="/s/css_bootstrap.css">
	<link rel="stylesheet" href="/s/css_bootstrap-responsive.css">
	<link rel="stylesheet" href="/s/css_main.css">
	<link rel="stylesheet" href="/s/css_bootstrap-my.css">

	<meta name="robots" content="noindex, nofollow" />
	
	<script charset="utf-8" src="/s/js_jquery-1.8.3.js"></script>
	<script charset="utf-8" src="/s/js_modernizr-2.6.2.min.js"></script>
	<script charset="utf-8" src="/s/js_bootstrap.min.js"></script>
		
	<link rel="stylesheet" href="/s/-styles.css">
	<script src="/s/-script.js"></script>
	
</head><body class="container" lang="en">

	<p style="background: #ECF8F8; padding: 13px 7px; margin-bottom: 50px;">
		<a href="/register" style="color:#252525;font-weight:800;padding:10px;">Register</a>
		<a href="/login" style="color:#252525;font-weight:800;padding:10px;">Login</a>
		<a href="/storage" style="color:#252525;font-weight:800;padding:10px;">Storage</a>
		<span style="float:right;margin-right:17px;">BETA!</span>
	</p>
	
