<!DOCTYPE><html class="create"><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>User Section</title>
	
	<link rel="stylesheet" href="/s/normalize.css" type="text/css" />
	<link rel="stylesheet" href="/s/stylesheets.css" type="text/css" />
	<link rel="stylesheet" href="/s/privates.css" type="text/css" />
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>

</head><body lang="en">
	
	<nav class="globals"><ul>
			<li><a href="/">mDown</a></li>
			<li><a href="/-/">Dashboard</a></li>
			<li><a href="/-/create/">Create</a></li>
			<li><a href="/-/settings/">Settings</a></li>
	</ul></nav>
	
	<form method="post" action="/-/create/form-createnew">

		<textarea id="input" rows="6" cols="60" name="markdown"># My new awesome blog, because I'm awesome

Hello, this is place where you can write yours new blogs and articles. We support amazing markdown 
formatting, so you please feel free format your blogs. If you want to use pictures, or code, or attach
files, just activate module in Settings, we support many awesome features.

## Article after perex is also awesom

My new blog is about .. 
		</textarea>
		
		<aside class="details">
			1828 words | 83 revisions
		</aside>
	
		<aside class="leftmenu">
				
			<button type="submit">Save</button>
		
			<br><br>
		
			<h2>Options</h2>
			
			<input type="text" name="title" placeholder="Title of article" style="width:304px;" value="Testing Article" required />
			<br><br>
			<input type="text" name="publised" placeholder="Published at :"  value="2013-10-30" style="width:304px;"  />
			<br><br>
			<input type="text" name="author" placeholder="Author :" value="Samuel Ondrek"  style="width:304px;"  />
			<br><br>
			<input type="text" name="category" placeholder="Category: " value="Uncategoried"  style="width:304px;"  />
			<br><br>
		
		</aside>
	
	</form>
	
</body></html>