<!DOCTYPE><html class="dashboard"><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Dashboard</title>
	
	<link rel="stylesheet" href="/s/normalize.css" type="text/css" />
	<link rel="stylesheet" href="/s/stylesheets.css" type="text/css" />
	<link rel="stylesheet" href="/s/privates.css" type="text/css" />

</head><body lang="en">
	
	<ul class="globals">
		<li><a href="/">mDown</a></li>
		<li><a href="/-/">Dashboard</a></li>
		<li><a href="/-/create/">Create</a></li>
		<li><a href="/-/settings/">Settings</a></li>
	</ul>
		
	<ul>	
	<% allArticles.forEach(function(ele, i){ %>
		
		<li>
			<a href="/-/view/<%= ele.Key %>"><%= ele.Key %></a>
			<a href="/-/view/<%= ele.Key %>/edit">edit</a>
			<a href="/-/view/<%= ele.Key %>/remove">remove</a>
		 	<time><%= ele.LastModified %></time>
			<span><%= ele.Size %></span>
		</li>
		
	<% }); %>
	</ul>

</body></html>