!!! 5
html.no-js

	head

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		title Error
		
		link(rel='shortcut icon', href='/statics/favicon.ico')
		link(rel='stylesheet', href='/statics/css_bootstrap.css')
		link(rel='stylesheet', href='/css/error.css')

	body(lang='en')

		h1 
			= error.name
		
		h2 
			= error.message