<!DOCTYPE html><html class="no-js"><head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Error</title>

	<link rel="shortcut icon" href="/statics/favicon.ico" />
	<link rel="stylesheet" href="/statics/css_bootstrap.css" />
	
	<style>
		html { margin: 200px; }
		body { font-family:Helvetica; color:#D8394C; margin:auto; width:600px; }
	</style>
	
</head><body lang="en">
	
	<h1 style="font-size: 21px; line-height:17px;"><%= error.name %></h1>
	<h2 style="font-size: 17px; line-height:17px;"><%= error.message %></h2>
	
</body></html>