<!DOCTYPE html><html class="no-js"><head>

	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>n200/storage</title>
	<meta name="robots" content="noindex, nofollow" />
	
	<link rel="shortcut icon" href="/statics/favicon.ico" />
	<link rel="stylesheet" href="/statics/css_bootstrap.css" />
	<link rel="stylesheet" href="/css/storage.css" />
	
</head><body class="container" lang="en" style="width:1250px;">
	
	<aside>
		Copyright 2013 n200
	</aside>

	<article>
	
		<header>
			
			<form method="post" action="./" style="margin:0">
				<span style="float: right;">
					<button type="submit" class="btn-link primary" name="action" value="share">User</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Options</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Log Out</button>
				</span>
			</form>
			
		</header>

		<table class="table table-striped">
			
			<thead>
				
				<tr>
					<td></td>
					<td>Module</td>
					<td>Description</td>
				</tr>
				
			</thead>
			
			<tbody>
		
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./anonymizer/">Anonymizer</a></td>
					<td>You can browse your websites on different URL with proxy adress</td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./blog/">Blog</a></td>
					<td>Use markdown blog with amazing templates on own domain</td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./bookmarks/">Bookmarks</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./calendar/">Calendar</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./contacts/">Contacts</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./database/">Database</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./documents/">Documents</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./ebooks/">Ebooks</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./emails/">Emails</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./git/">Git</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./music/">Music</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./payments/">Payments</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./photos/">Photos</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./public/">Public</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./settings/">Settings</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./statistics/">Statistics</a></td>
					<td></td>
				</tr>
			
				<tr>
					<td><input type="checkbox" /></td>
					<td><a class="title" href="./users/">Users</a></td>
					<td></td>
				</tr>
				
			</tbody>
				
		</table>
	
	</article>

	
</body></html>
