<!DOCTYPE html><html><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	
	<title>Hello</title>
	
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css" />
	
	<style>
	body, button, input, label, textarea, select { font-family: 'Open Sans'; font-weight: 300 !important;	}
	textarea { margin: 30px auto; width: 80%; display: block; padding: 10px; min-height: 500px; border: 1px solid #CCC; }
	section { margin: 70px auto 0; width: 80%; display: block; }
	input { padding: 10px; }
	select { height: 44px; width: 142px; border: 1px solid #CCC; }
	</style>

</head><body lang="en">
	
	<form method="post" action="./preview/">
		
		<section>
			
			<input name="title" type="text" value="Title of Markdown Document" style="width:500px; margin-right: 30px" />
			
			<button style="float: right; padding: 12px;" type="submit" class="btn btn-primary">Preview</button>
		
		</section>

		<textarea name="markdown"># Hello world ..
			
You can write here in Markdown syntax.

- This service is absolutelly free
- Click on Preview and see awesome!

</textarea>
		
	</form>

</body></html>
