<!DOCTYPE><html class="index"><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	
	<title>mdown - markdown online editor</title>
	
	<link rel="stylesheet" href="./s/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="./s/stylesheets.css" type="text/css" />

</head><body lang="en">
	
	<form method="post" action="./aws;create;">
	
		<header>
			
			<h1><a href="/">mdown</a> - markdown online editor (ALPHA VERSION)</h1>
			
			<div style="float: right">
				
				<select name="expiration" style="margin-right: 15px">
					<option value="day">Keep 1 day</option>
					<option value="week">Keep 1 week</option>
					<option value="month">Keep 1 month</option>
					<option value="year">Keep 1 year</option>
				</select>
				
				<button type="submit" class="btn btn-link">Save</button>
				
			</div>
			
		</header>
	
<textarea id="input" oninput="this.editor.update()" rows="6" cols="60" name="markdown">
# Welcome

## Suspendisse potenti

### Maecenas vitae

In hac habitasse platea dictumst. Morbi auctor dictum scelerisque. Donec quis 
augue sed nulla ornare condimentum non sodales massa. Maecenas vitae tempor ante. 
Aenean dolor elit, venenatis non adipiscing eu, lobortis at est. In velit felis, 
iaculis vel dapibus eget, varius ac diam. Aliquam eu tortor nec sem auctor porta. 
Suspendisse potenti. Sed quis erat a ligula interdum placerat.

### Maecenas vitae

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eros est, venenatis 
nec malesuada quis, sodales id lacus. Curabitur sit amet auctor nulla. Curabitur 
volutpat nibh nulla, semper blandit ligula convallis eget. 

### Quisque lorem magna

Curabitur ornare sollicitudin mi, et consequat nisi. Etiam non elit et neque dignissim 
dapibus sed facilisis lorem. Nunc sed felis neque. Ut non nisl scelerisque, venenatis 
ligula at, malesuada ligula. Donec sit amet mattis mi. In vehicula non erat non porta. 
Nulla facilisi. Quisque lorem magna, interdum sit amet lorem eu, dapibus sollicitudin mi.

## Ut non nisl scelerisque

Ut non nisl scelerisque, venenatis ligula at, malesuada ligula. Donec sit amet mattis 
mi. In vehicula non erat non porta. Nulla facilisi. Quisque lorem magna, interdum sit 
amet lorem eu, dapibus sollicitudin mi.

    function markdownup(){
      git helloWorld();
    }

    function markupdown(){
      github = new clone();
    }

Curabitur volutpat nibh nulla, **semper blandit ligula convallis** eget. 

---

Nunc sed felis neque.  
Ut non nisl scelerisque, venenatis ligula at, malesuada ligula.  
Donec sit amet mattis mi. In vehicula non erat non porta.
</textarea>
		
		<section id="preview" class="mdsyntax"></section>

	</form>
	
	<script src="s/jquery.js"></script>
   <script src="s/markdown.js"></script>
   
	<script>
	
		$(function() {
			$('textarea').scroll(function() {
				$('section').scrollTop($('textarea').scrollTop());
			});
		});
	
		function Editor(input, preview) {
			this.update = function () {
				preview.innerHTML = markdown.toHTML(input.value);
			};
			input.editor = this;
			this.update();
		}
		var $c = function(id) { return document.getElementById(id); };
		new Editor($c("input"), $c("preview"));
		
		
   </script>

</body></html>
