<!DOCTYPE><html class="log"><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>User Section</title>
	
	<link rel="stylesheet" href="/s/normalize.css" type="text/css" />
	<link rel="stylesheet" href="/s/stylesheets.css" type="text/css" />
	<link rel="stylesheet" href="/s/publics.css" type="text/css" />
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>

</head><body lang="en">
		
		<header>
						
			<br>
			
			<h1><strong>What is still missing?</strong></h1>
			
			<br><strong>XXXX/XX/XX</strong>
			<div>Module Blog: Dashboard with all blogs</div>
			
			<br><strong>XXXX/XX/XX</strong>
			<div>Module Blog: Removing / Renaming / Tagging blogs</div>
			
			<br><strong>XXXX/XX/XX</strong>
			<div>Module Blog: Selecting template</div>
			
			<br><strong>XXXX/XX/XX</strong>
			<div>Module Blog: Rendering code</div>
			
			<h1><strong>What is done today?</strong></h1>
			
			<br><strong>2013/10/22</strong>
			<div>Server and Client validation for Register / Login / Reset.</div>
			
			<br><strong>2013/10/21</strong>
			<div>Registration is available.</div>
			
			<h1><strong>What is still missing?</strong></h1>
			
		</header>

</body></html>
