<% include ./shared/head-privates.html %>
<body lang="en" class="blog">
<% include ./shared/top-privates.html %>

	<ul>
		<li>
			Templates (markup, javascript and stylesheets) for: 
			<br>
			<a href="/-/template/?editor">Editor</a>
			<br><br>
		</li>
		<li>
			Download custom build for your blog and upload to your hosting
			<br>
			<a href="/-/generate/">Generate</a>,
			<a href="/-/generate/?downloadzip">Download ZIP</a>
			<br><br>
		</li>
		<li>
			You can create new, rename or remove tags of articles
			<br>
			<a href="/-/tags/">Tags</a>
			<br><br>
		</li>
		<li>
			You can edit routing before it's generated
			<br>
			<a href="/-/routing/">Routing</a>
			<br><br>
		</li>
	</ul>
	
<% include ./shared/footer-privates.html %>

