<% include ./shared/head.html %>
<body lang="en" class="modules">
<% include ./shared/header.html %>

    <h1>Settings</h1>

    <h2>Modules</h2>

    <section class="question">

        <h3>Template</h3>
        <div>Templates (markup, javascript and stylesheets) for.</div>

        <form role="form">
            <hr>
            <h4>Actions</h4>
            <a href="/template/?editor">Editor</a>
            <div>
                <h4>Change status</h4>
                <input type="radio" name="family" id="enabled" checked="checked" />
                <label for="enabled">&nbsp;Enabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="disabled" />
                <label for="disabled">&nbsp;Disabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="destroy" />
                <label for="destroy">&nbsp;Destroy</label>
                &nbsp;&nbsp;
                <a href="#">Change status</a>
            </div>
        </form>

    </section>

    <section class="question">

        <h3>Generate</h3>
        <div>Download custom build for your blog and upload to your hosting.</div>

        <form role="form">
            <hr>
            <a href="/generate/">Generate</a>,
            <a href="/generate/?downloadzip">Download ZIP</a>
            <div>
                <h4>Change status</h4>
                <input type="radio" name="family" id="enabled" checked="checked" />
                <label for="enabled">&nbsp;Enabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="disabled" />
                <label for="disabled">&nbsp;Disabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="destroy" />
                <label for="destroy">&nbsp;Destroy</label>
                &nbsp;&nbsp;
                <a href="#">Change status</a>
            </div>
        </form>

    </section>

    <section class="question">

        <h3>Tags</h3>
        <div>You can create new, rename or remove tags of articles</div>

        <form role="form">
            <hr>
            <a href="/tags/">Tags</a>
            <div>
                <h4>Change status</h4>
                <input type="radio" name="family" id="enabled" checked="checked" />
                <label for="enabled">&nbsp;Enabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="disabled" />
                <label for="disabled">&nbsp;Disabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="destroy" />
                <label for="destroy">&nbsp;Destroy</label>
                &nbsp;&nbsp;
                <a href="#">Change status</a>
            </div>
        </form>

    </section>

    <section class="question">

        <h3>Routing</h3>
        <div>You can edit routing before it's generated</div>

        <form role="form">
            <hr>
            <a href="/routing/">Routing</a>
            <div>
                <h4>Change status</h4>
                <input type="radio" name="family" id="enabled" checked="checked" />
                <label for="enabled">&nbsp;Enabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="disabled" />
                <label for="disabled">&nbsp;Disabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="destroy" />
                <label for="destroy">&nbsp;Destroy</label>
                &nbsp;&nbsp;
                <a href="#">Change status</a>
            </div>
        </form>

    </section>

    <h2>API</h2>

    <section class="question">

        <h3>Description</h3>
        <div>Here is description of API which mDown provides you for free.</div>

        <form role="form" method="post" action="privates?changepassword" >

            <strong>List of all blogs</strong><br>
            <code>/:id/blogs</code><br><br>

            <strong>List of all tags</strong><br>
            <code>/:id/tags</code><br><br>

            <strong>List of IDs of blogs which use this tag</strong><br>
            <code>/:id/tag/:tag</code><br><br>

            <strong>List of IDs of blogs</strong><br>
            <code>/:id/blog/:blog</code><br><br>

            <strong>List of IDs of blogs</strong><br>
            <code>/:id/blog/:blog</code><br><br>

        </form>

    </section>

    <h2>User settings</h2>

    <section class="question">

        <h3>Change my password</h3>
        <div>If you want remove administrator password you can do it here.</div>

        <form role="form" method="post" action="privates?changepassword" >
            <hr>
            <input type="password" name="oldpass" placeholder="Your old password" required />
            <input type="password" name="newpass" placeholder="New password > 7 chars" required />
            <input type="password" name="newpass2" placeholder="Password again" required />
            <button type="submit">Change Password</button>
            <div>
                <h4>Change status</h4>
                <input type="radio" name="family" id="enabled" checked="checked" />
                <label for="enabled">&nbsp;Enabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="disabled" />
                <label for="disabled">&nbsp;Disabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="destroy" />
                <label for="destroy">&nbsp;Destroy</label>
                &nbsp;&nbsp;
                <a href="#">Change status</a>
            </div>
        </form>

    </section>

    <h2>Privacy settings</h2>

    <section class="question">

        <h3>Cookies Descriptions</h3>
        <div>Which cookies we stored? You can see description.</div>

        <form role="form" method="post" action="#" >
            <hr>
            <input type="password" name="removeAccountPassword" placeholder="Unavailable functionality now" required />
            <div>
                <h4>Change status</h4>
                <input type="radio" name="family" id="enabled" checked="checked" />
                <label for="enabled">&nbsp;Enabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="disabled" />
                <label for="disabled">&nbsp;Disabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="destroy" />
                <label for="destroy">&nbsp;Destroy</label>
                &nbsp;&nbsp;
                <a href="#">Change status</a>
            </div>
        </form>

    </section>

    <section class="question">

        <h3>Your public key</h3>
        <div>You can use this key with external apps or in creating your own module</div>

        <form role="form" method="post" action="#" >
            <hr>
            <a href="privates?getpublickey">Get Public Key</a>
            <br>
            <div>
                <h4>Change status</h4>
                <input type="radio" name="family" id="enabled" checked="checked" />
                <label for="enabled">&nbsp;Enabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="disabled" />
                <label for="disabled">&nbsp;Disabled</label>
                &nbsp;&nbsp;
                <input type="radio" name="family" id="destroy" />
                <label for="destroy">&nbsp;Destroy</label>
                &nbsp;&nbsp;
                <a href="#">Change status</a>
            </div>
        </form>

    </section>

    <script type="text/javascript">

        // hide by default all sections
        $('section form').css('display', 'none');

        // on click toggle this one, and hide all others
        $('section h3').on('click', function(){

            // form in same section
            var thisForm = $(this).parent().children('form');
            var isOpened = (thisForm.css('display')==='block');

            // close opened after click
            if (isOpened) { $(this).parent().children('form').slideUp(); return; }

            // others should be toggled and closed
            $('section form').slideUp();
            $(this).parent().children('form').slideDown({ duration : 100 });

        });

    </script>

<% include ./shared/footer.html %>
