<!DOCTYPE html><html class="no-js"><head>

	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>n200/storage</title>
	<meta name="robots" content="noindex, nofollow" />
	
	<link rel="shortcut icon" href="/statics/favicon.ico" />
	<link rel="stylesheet" href="/statics/css_bootstrap.css" />
	<link rel="stylesheet" href="/css/photos.css" />
	
</head><body class="container" lang="en" style="width:1250px;">
	
	<% if (view=='albums') { %>
		
		
		<header>
			<form method="post" action="./" style="margin:0">
				<span>
					<a href="./new">Create new album</a>
				</span>
				<span style="float: right;">
					<button type="submit" class="btn-link primary" name="action" value="share">User</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Options</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Log Out</button>
				</span>
			</form>
		</header>
		
		<article class="albums">
	
		<% for(var i=0; i<albums.length; i++) { %>
			
			<section>
				<%= albums[i].time %> 
				<img src="data:image/png;base64,<%= albums[i].thumbnail %>" />
				<div>
					
					<a class="title" href="./<%= albums[i].hash %>/"><%= albums[i].name %></a>
				</div>
			</section>
		
		<% } %>
		
		</article>
		
		
	<% } else if (view=='createNewAlbum') { %>
		
		
		<header>
			<form method="post" action="./" style="margin:0" enctype="multipart/form-data">
				<span>
					<button type="submit" class="btn-link primary" name="action" value="">Browse all albums</button>
				</span>
				<span style="float: right;">
					<button type="submit" class="btn-link primary" name="action" value="share">User</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Options</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Log Out</button>
				</span>
			</form>
		</header>
		
		<article class="albums">
			
			<form method="post" action="./upload" style="margin:0">	
				<input type="file" name="images" multiple="" />
				<button type="submit" class="btn btn-primary">Upload</button>
			</form>
			
		</article>
		
		
	<% } else if (view=='uploading') { %>
		
		
		<header>
			<form method="post" action="./" style="margin:0" enctype="multipart/form-data">
				<span>
					<button type="submit" class="btn-link primary" name="action" value="">Browse all albums</button>
				</span>
				<span style="float: right;">
					<button type="submit" class="btn-link primary" name="action" value="share">User</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Options</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Log Out</button>
				</span>
			</form>
		</header>
		
		<article class="albums">
			
			uploading ... 
			
		</article>		
		
		
	<% } else { %>
		
		
		<article>
		
		<aside>
			Copyright 2013 n200
		</aside>
		
		<header>
			<form method="post" action="./" style="margin:0">
				<span>
					<button type="submit" class="btn-link primary" name="action" value="rename">Rename</button>
					<button type="submit" class="btn-link primary" name="action" value="edit">Edit</button>
					<button type="submit" class="btn-link primary" name="action" value="download">Download</button>
					<button type="submit" class="btn-link primary" name="action" value="cut">Cut</button>
					<button type="submit" class="btn-link primary" name="action" value="copy">Copy</button>
					<button type="submit" class="btn-link primary" name="action" value="paste">Paste</button>
					<button type="submit" class="btn-link primary" name="action" value="delete">Delete</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Share</button>
				</span>
				<span style="float: right;">
					<button type="submit" class="btn-link primary" name="action" value="share">User</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Options</button>
					<button type="submit" class="btn-link primary" name="action" value="share">Log Out</button>
				</span>
			</form>
		</header>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<td></td>
					<td></td>
					<td>Key</td>
					<td>Details</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td><a href="../">...</a></td>
					<td></td>
				</tr>
							
			
				<% for(var i=0; i<albums.length; i++) { %>
					<tr>
						<td><input type="checkbox" /></td>
						<td><img src="data:image/png;base64,<%= albums[i].thumbnail %>" /></td>
						<td>
							<span><%= albums[i].time %> ||</span>
							<a class="title" href="./<%= albums[i].hash %>/"><%= albums[i].name %></a>
						</td>
						<td class="links">
							<form method="post" action="./" style="margin:0">
								<button type="submit" class="btn-link primary" name="action" value="rename">Rename</button>
								<button type="submit" class="btn-link primary" name="action" value="edit">Edit</button>
								<button type="submit" class="btn-link primary" name="action" value="download">Download</button>
								<button type="submit" class="btn-link primary" name="action" value="cut">Cut</button>
								<button type="submit" class="btn-link primary" name="action" value="copy">Copy</button>
								<button type="submit" class="btn-link primary" name="action" value="paste">Paste</button>
								<button type="submit" class="btn-link primary" name="action" value="delete">Delete</button>
								<button type="submit" class="btn-link primary" name="action" value="share">Share</button>
							</form>
						</td>
					</tr>
				<% } %>
		
	
		
			</tbody>		
		</table>
		
		</article>
	
	
	<% } %>
	
</body></html>