/* fonts */
	

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		src: local('Open Sans Light'), local('OpenSans-Light'), url('300.woff') format('woff');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		src: local('Open Sans'), local('OpenSans'), url('400.woff') format('woff');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('600.woff') format('woff');
	}


/* brand */

	html body {
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 12px;
		color: black;
		margin-bottom: 50px;
	}
	
	header {
		margin: 20px 0;
		background: #FFF;
		padding: 3px 0;
		border-bottom: 1px dashed #C9C9C9;
	}
	
	tr {
		cursor: pointer;
	}
	
	.table th, 
	.table td {
		padding: 7px 8px;
	}
	
	.links button,
	.primary {
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 12px;
		padding: 0;
	}
	
	.links button {
		visibility: hidden;
	}
	
	tr:hover .links button {
		visibility: visible;
	}	
	
	.primary:after,
	.links button:after {
		content: ',';
		display: inline-block;
		width: 7px;
	}
	
	.primary:last-child:after, 
	.links button:last-child:after {
		content: '';
	}

	select, input[type="file"] {
		height: 20px;
		line-height: 20px;
		font-weight: 300;
		font-size: 12px;
	}
	
	article {
		width: 900px;
		float: left;
	}
	
	aside {
		width: 330px;
		float: right;
		margin-top: 49px;
		margin-left: 20px;
		border-top: 1px dashed #C9C9C9;
		padding-top: 31px;
		text-align: right;
	}
	
	.title {
		width: 225px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		display: inline-block;
	}
	
	.albums {
		width: 1200px;
		padding: 80px 0;
	}
	
	.albums section {
		border: 1px solid #F8F8F8;
		margin: 10px;
		width: 155px;
		height: 200px;
		padding: 20px 30px;
		display: inline-block;
	}
	