<!DOCTYPE><html><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Log In</title>
	<link rel="stylesheet" href="/s/bootstrap.css" type="text/css" />

</head><body lang="en">
	
	<a href="/-/new/">create new</a>
	<a href="/-/settings/">list all</a>
	
	<ul>	
	<% allArticles.forEach(function(ele, i){ %>
		
		<li>
			<a href="/-/view/<%= ele.Key %>"><%= ele.Key %></a>
			<a href="/-/view/<%= ele.Key %>/edit">edit</a>
			<a href="/-/view/<%= ele.Key %>/remove">remove</a>
		 	<time><%= ele.LastModified %></time>
			<span><%= ele.Size %></span>
		</li>
		
	<% }); %>
	</ul>

</body></html>