<!DOCTYPE><html><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/s/bootstrap.css" type="text/css" />

</head><body lang="en">
	
	<a href="/-/new/">create new</a>
	<a href="/-/settings/">list all</a>
	
	<ul>	
	<% allArticles.forEach(function(ele, i){ %>
		
		<li>
			<a href="/-/view/<%= ele.Key %>"><%= ele.Key %></a>
			<a href="/-/view/<%= ele.Key %>/edit">edit</a>
			<a href="/-/view/<%= ele.Key %>/remove">remove</a>
		 	<time><%= ele.LastModified %></time>
			<span><%= ele.Size %></span>
		</li>
		
	<% }); %>
	</ul>
	
	<form role="form" method="post" action="./formResetPassword" >
		
		<h2>Change a password</h2>
		
		<input type="password" name="changeEmail" placeholder="Change your password" required />
		<input type="password" name="changeEmail2" placeholder="Password again" required />
		<button type="submit">Reset</button>
		
	</form>
	
	<form role="form" method="post" action="./formRemoveAccount" >
		
		<h2>Remove account</h2>
		
		<input type="password" name="removeAccountPassword" placeholder="Change your password" required />
		<button type="submit">Remove</button>
		
	</form>

</body></html>