<!DOCTYPE><html class="register"><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>User Section</title>
	
	<link rel="stylesheet" href="/s/normalize.css" type="text/css" />
	<link rel="stylesheet" href="/s/stylesheets.css" type="text/css" />
	<link rel="stylesheet" href="/s/publics.css" type="text/css" />
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>

</head><body lang="en">
	
	<% 
		if (show==='login') { 
	%>
	
		<article id="login">
		
			<h2>Log in (disabled until 12/2013)</h2>
		
			<form role="form" method="post" action="./formLogin">
				<input type="email" name="loginEmail" placeholder="Email" required />
				<input type="password" name="loginPassword" placeholder="Password" minlength="6" required />
				<button type="submit">Log in</button>
			</form>
		
			<div class="rules">
				We do not store your email or password, only hashes.<br>
				<a href="./register">Create new account</a> or <a href="./reset">reset your password</a>.
			</div>
		
		</article>
	
	<% 
		} else if (show==='register') { 
	%>
	
		<article id="register">
		
			<h2>Create new account</h2>
		
			<form role="form" method="post" action="./formRegister">
				<input type="email" name="registerEmail" placeholder="Email" required disabled />
				<input type="password" name="registerPassword1" minlength="6" placeholder="Password (>6 chars)" required disabled />
				<input type="password" name="registerPassword2" minlength="6" placeholder="Password again" required disabled />
				<button type="submit" disabled>Create</button>
			</form>
		
			<div class="rules">
				You can remove your account with <strong>all</strong> data anytime.<br>
				<a href="./login">Log in</a> or <a href="./reset">reset your password</a>.
			</div>
		
		</article>
	
	<% 
		} else if (show==='reset') { 
	%>
	
		<article id="reset">
		
			<h2>Reset your password</h2>
		
			<form role="form" method="post" action="./formReset" disabled >
				<input type="email" name="resetEmail" placeholder="Email" required disabled />
				<button type="submit" disabled>Reset</button>
			</form>
		
			<div class="rules">
				Enter registrated email and we send there verification link.<br>
				You can also <a href="./register">Sign up</a> or <a href="./login">Log in</a>.
			</div>
		
		</article>
	
	<% 
		} 
	%>
	
	<script type="text/javascript">
	
	$('form').validate({
		rules: { password2 : { equalTo : 'input[name=registerPassword1]' } }
	});
	
	</script>
		
</body></html>