<!DOCTYPE><html class="index"><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>mDown</title>
	<link rel="stylesheet" href="/s/normalize.css" type="text/css" />
	<link rel="stylesheet" href="/s/stylesheets.css" type="text/css" />
	<link rel="stylesheet" href="/s/publics.css" type="text/css" />

</head><body lang="en">
		
		<header>
			
			<br>
			
			<h1><strong><a href="/">mdown</a> - lightweight markdown blogging platform (alpha)</strong></h1>
			
			
			<br><strong>When you should read this?</strong>
			<div>When you want lightweight lowcost markdown blog.</div>
			
			<br><strong>For who is best mdown blog?</strong>
			<div>For hackers, for geeks, for nerds, for companies with clever people.</div>
			
			<br><strong>What is price for month?</strong>
			<div>5€ every month and you can pay for more months.</div>
			
			<br><strong>Whah do I get for that price?</strong>
			<div>Blog, domain, space, templates, everything what we have.</div>
			
			<br><strong>Why is it good for developers?</strong>
			<div>JSON and XML REST API. Unlimited. Github module. S3 module.</div>

			<br><strong>What do you store about me?</strong>
			<div>No analytics, no statistics, no credit card details, even no email!</div>

			<br><strong>Are my data really secure?</strong>
			<div>Nice question! Yep, <strong>all</strong> crypted with AES256.</div>

			<br><strong>Who can see my data?</strong>
			<div>Only you. Even we cannot see your data. Awesome, right?</div>
			
			<br><strong>Show me more</strong>
			<div>Nope. But until februar 2014 <strong><a href="./usr/">you may registred for free.</a></strong></div>
			
		</header>

</body></html>
