<!DOCTYPE><html class="view"><head>

        <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          
        <title>Preview Blog</title>
        
        <link rel="stylesheet" href="/s/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/s/stylesheets.css" type="text/css" />

</head><body lang="en">
	
        <article class="mdsyntax">
			
                <%- data.html  %>
        
        </article>
        
        <aside>
			
	            <strong>ID:</strong>
	            <span><%= data.blogid  %></span>
	            <br><br>
				
	            <strong>Title:</strong>
	            <span><%= data.title  %></span>
	            <br><br>
				
                <strong>Author:</strong>
                <span><%= data.author  %></span>
                <br><br>
				
                <strong>Category:</strong>
                <span><%= data.category  %></span>
				<br><br>
                
                <strong>Published:</strong>
                <span><%= data.publised  %></span>
				<br><br>             
                                
        </aside>
                
        <script src="/s/jquery.js"></script>

</body></html>