<!DOCTYPE><html class="view"><head>

        <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          
        <title>mdown - markdown online editor</title>
        
        <link rel="stylesheet" href="/s/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/s/stylesheets.css" type="text/css" />

</head><body lang="en">
                
        <header>
                
                <h1><a href="/">mdown</a> - markdown online editor</h1>
                
                <div style="float: right">
                        
                        <button type="submit" class="btn btn-link">Edit</button>
                        
                </div>
                
        </header>

        <article class="mdsyntax">

                <%- markdown  %>
        
        </article>
        
        <aside>
                
                <strong>Author:</strong>
                <span>Samuel Ondrek</span><br>
                
                <strong>Size:</strong>
                <span>893893b</span><br>
                
                <strong>Type:</strong>
                <span><strong>Public</strong> / Private</span><br><br>
                
                <strong>Settings:</strong><br>
                
                <br><br><br><br>
                <div>
                        You can register you account. Only insert credit card numbers and
                        for 3e per months you get unlimited space, unlimited time, images
                        upload, access to rest api, custom domain suport and more and more.
                        You can anytime remove and delete account.
                </div>
                                
        </aside>
                
        <script src="s/jquery.js"></script>

</body></html>