<% include ../shared/head-publics.html %>
<body lang="en" class="docs">
<% include ../shared/top-publics.html %>

	<h2>Documentation for Configurations</h2>
  <br />

  <section>

  <h3>File Structure sample:</h3>
  <code><textarea>
index 
- on root of your blog

archiv 
- all articles without perex

blog 
- on root of your blog

page 
- on root of your blog

tags 
- all tags if they are used on website
  </textarea></code>

  </section>
  <section>

    <h3>Routing Configuration sample:</h3>
    <code><textarea>
{
  '/' : { 
    'tags' : [ {layout:tags} ], 
    'files' : './index.html' 
  },
  '/contactme' : { 
    'tags' : [ {layout:tags} ], 
    'files' : './contactme.html' 
  },
  '/about/' : { 
    'tags' : [ {layout:tags} ], 
    'files' : './*' 
  },
  '/references/' : { 
    'tags' : [ {category:ref} ], 
    'files' : './*' 
  },
  '/blog/*' : {
    'tags' : [ {category:blog} ], 
    'files' : './*' 
  },
  '/javascript/*' : { 
    'tags' : [ {category:js} ], 
    'files' : './*' 
  },
  '/download/*' : {
    'tags' : [ {public:yes} ], 
    'files' : './*' 
  }
}
    </textarea></code>

  </section>


  <h2>Documentation for Tags</h2>
  <br />
    <section>
    

    <h3>Tag: {# allarticles }</h3>
  	<code><textarea>
//  
// list of all articles (max. 10000)

  ul.articles
    li a ( Some your crazy article )
    li a ( Markdown is awesome )
    li a ( Enterprice solutions )
    ..
    </textarea></code>

  </section>
  <section>

    <h3>Tag: {# blog-html }</h3>
    <code><textarea>
// content of blog in html format

  article.blog
    <strong>Hello</strong>, this is my new blog
    ..
  </textarea></code>

  </section>
  <section>

    <h3>Tag: {# blog-markdown } </h3>
    <code><textarea>
// content of blog in html format

  article.blog
    <strong>Hello</strong>, this is my new blog
    ..
	</textarea></code>
  
</section>

<% include ../shared/footer-publics.html %>