<% include ../shared/head-publics.html %>
<body lang="en" class="faq">
<% include ../shared/top-publics.html %>

<header>
				
	<br>
	<h1>FAQ</h1>
	<br>
	
	<h2>Price</h2>
	
		<strong>
			Q&nbsp;&nbsp;&nbsp;
			What is the price?
		</strong><br><div>
			<strong>A&nbsp;&nbsp;&nbsp;</strong>
			5 eur every month, you may pay also for 6 months or one year.
		</div><br>
		
		<strong>
			Q&nbsp;&nbsp;&nbsp;
			Do you store my Credit Card credentials?
		</strong><br><div>
			<strong>A&nbsp;&nbsp;&nbsp;</strong>
			No. This is the reason why you need always enter them.
		</div><br>
		
		<strong>
			Q&nbsp;&nbsp;&nbsp;
			What is included in price?
		</strong><br><div>
			<strong>A&nbsp;&nbsp;&nbsp;</strong>
			Unlimited storage, Unlimited modules, Unlimited views.
		</div><br>
	
	<h2>Security</h2>
	
		<strong>
			Q&nbsp;&nbsp;&nbsp;
			What do you store about user?
		</strong><br><div>
			<strong>A&nbsp;&nbsp;&nbsp;</strong>
			Only one simple config file with isVerified tag, email hash or password hash.
		</div><br>
		
		<strong>
			Q&nbsp;&nbsp;&nbsp;
			Is payment on your website secure?
		</strong><br><div>
			<strong>A&nbsp;&nbsp;&nbsp;</strong>
			We use Stripe API and HTTPS requests for all operations.
		</div><br>
	
		<strong>
			Q&nbsp;&nbsp;&nbsp;
			How do you encrypt data?
		</strong><br><div>
			<strong>A&nbsp;&nbsp;&nbsp;</strong>
			All data is crypted by AES256 on server.
		</div><br>
	
	<h2>Structure</h2>
	
		<strong>
			Q&nbsp;&nbsp;&nbsp;
			Where is data stored?
		</strong><br><div>
			<strong>A&nbsp;&nbsp;&nbsp;</strong>
			We use AWS S3, Nodejitsu and Github.
		</div><br>
	
		<strong>
			Q&nbsp;&nbsp;&nbsp;
			Do you use Google Analytics?
		</strong><br><div>
			<strong>A&nbsp;&nbsp;&nbsp;</strong>
			No for now, we don't like collecting data with Google.
		</div><br>
				
</header>

<% include ../shared/footer-publics.html %>