<!DOCTYPE><html class="index"><head>

	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>User Section</title>
	
	<link rel="stylesheet" href="/s/normalize.css" type="text/css" />
	<link rel="stylesheet" href="/s/stylesheets.css" type="text/css" />
	<link rel="stylesheet" href="/s/publics.css" type="text/css" />
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>

</head><body lang="en">
		
		<header>
			
			<br>
			
			<h1><strong><a href="/">mdown</a> - lightweight markdown blogging platform</strong></h1>
			
			<br><strong>When you should read this?</strong>
			<div>When you want lightweight, lowcost, markdown based blog.</div>
			
			<br><strong>Who is it best for?</strong>
			<div>For hackers, for geeks, for nerds and for companies with clever people.</div>
			
			<br><strong>What the price is?</strong>
			<div>5€ every month, but you can pay for more months as well.</div>
			
			<br><strong>What do I get for that price?</strong>
			<div>Blogs, domains, space, templates and everything what we have.</div>
			
			<br><strong>Why is mDown good for developers?</strong>
			<div>JSON and XML REST API. Unlimited. Github module. S3 module.</div>

			<br><strong>Which informations do you store about me?</strong>
			<div>No analytics, no statistics, no credit card details, even no email!</div>

			<br><strong>Is my data really secure?</strong>
			<div>Nice question! Yep, <strong>all</strong> crypted with AES256.</div>

			<br><strong>Who can see my data?</strong>
			<div>Only you. Even we cannot see your data. Awesome, right?</div>

			<br><strong>What is development status of mDown?</strong>
			<div>You can check ours public <strong><a href="./log/">Log</a>.</strong></div>
			
		</header>

</body></html>
