<% include ../shared/head-publics.html %>
<body lang="en" class="index">
<% include ../shared/top-publics.html %>
		
		<header>
			
			<br>
			
			<h1>mdown<br>is lightweight markdown blogging platform</strong></h1>
		
			<br><strong>When I should read this?</strong>
			<div>When you want lightweight, lowcost and markdown-based blog.</div>
			
			<br><strong>Who is mdown best for?</strong>
			<div>For hackers, for geeks, for nerds and for companies.</div>
			
			<br><strong>When mdown is not for you?</strong>
			<div>When you don't know what are Markdown, Cookies or Pixels.</div>
			
			<br><strong>What is the price?</strong>
			<div>5€ every month for unlimited account, blogs, space and templates.</div>
			
			<br><strong>Why is mdown awesome?</strong>
			<div>JSON and XML REST API. Github module. S3 module.</div>

			<br><strong>What do you store about me?</strong>
			<div>Almost nothing. No statictics, no IPs, no logins or no browsers!</div>

			<br><strong>Is my data secure?</strong>
			<div>Nice question, dude! Yep, <strong>all</strong> are crypted by AES256.</div>

			<br><strong>How about dev status?</strong>
			<div>You can check ours public <strong><a href="./log/">Log</a>.</strong></div>
			
		</header>

<% include ../shared/footer-publics.html %>
