<% include ../shared/head-publics.html %>
<body lang="en" class="log">
<% include ../shared/top-publics.html %>

<header>
				
	<br>

	<h1>Development Status</h1>
	
	<br>
	
	<strong>2013/11/03</strong>&nbsp;&nbsp;<strong>version 0.1.1</strong><br>
	<div>First Article deployed for public view</div><br>
	
	<strong>2013/11/03</strong>&nbsp;&nbsp;<strong>version 0.1.0-11</strong><br>
	<div>Working Preview Module on url prefix C</div><br>
	
	<strong>2013/11/02</strong>&nbsp;&nbsp;<strong>version 0.1.0-10</strong><br>
	<div>Done Cookie Module and Security</div><br>
	
	<strong>2013/10/30</strong>&nbsp;&nbsp;<strong>version 0.1.0-9</strong><br>
	<div>Server and Client validation for Register / Login / Reset.</div><br>
	
	<strong>2013/10/27</strong>&nbsp;&nbsp;<strong>version 0.1.0-8</strong><br>
	<div>New UI, CSS files and UX redesign</div><br>
	
	<strong>2013/10/25</strong>&nbsp;&nbsp;<strong>version 0.1.0-7</strong><br>
	<div>New Header on all Dashboard webpages</div><br>
	
	<strong>2013/10/23</strong>&nbsp;&nbsp;<strong>version 0.1.0-6</strong><br>
	<div>New Dashboard and Edit, Rename, Remove functionality</div><br>
	
	<strong>2013/10/21</strong>&nbsp;&nbsp;<strong>version 0.1.0-5</strong><br>
	<div>Working with S3 Module and Libraries</div><br>

	<strong>2013/10/17</strong>&nbsp;&nbsp;<strong>version 0.1.0-4</strong><br>
	<div>Refactoring, New Version of mDown</div><br>

	<strong>2013/10/17</strong>&nbsp;&nbsp;<strong>version 0.1.0-3</strong><br>
	<div>Support of Reseting password if user forgot</div><br>
	
	<strong>2013/10/10</strong>&nbsp;&nbsp;<strong>version 0.1.0-2</strong><br>
	<div>Refactored code, Added libraries Underscore and Validations</div><br>
	
	<strong>2013/10/06</strong>&nbsp;&nbsp;<strong>version 0.1.0-1</strong><br>
	<div>Brand new refactored mDown code</div><br>
				
</header>

<% include ../shared/footer-publics.html %>