<% include ../shared/head-publics.html %>
<body lang="en" class="log">
<% include ../shared/top-publics.html %>

<header>
				
	<br>

	<h1>Development Status</h1>
	
	<br>

	<strong>2013/11/15</strong>&nbsp;&nbsp;<strong>version 0.1.20</strong><br>
	<div>Create new path for loading all blog IDs in array for API</div><br>

	<strong>2013/11/14</strong>&nbsp;&nbsp;<strong>version 0.1.19</strong><br>
	<div>Added tags section with Rename, Remove, Sync and Add Section</div><br>

	<strong>2013/11/09</strong>&nbsp;&nbsp;<strong>version 0.1.18</strong><br>
	<div>New Docs Section in Public Website for Documentation</div><br>

	<strong>2013/11/08</strong>&nbsp;&nbsp;<strong>version 0.1.17</strong><br>
	<div>Refactored URI design to /-/ for private content</div><br>

	<strong>2013/11/08</strong>&nbsp;&nbsp;<strong>version 0.1.16</strong><br>
	<div>Added option to change password</div><br>

	<strong>2013/11/07</strong>&nbsp;&nbsp;<strong>version 0.1.15</strong><br>
	<div>Published API on domain api.mdown.co with JSON support</div><br>

	<strong>2013/11/06</strong>&nbsp;&nbsp;<strong>version 0.1.14</strong><br>
	<div>Added Template in Module Section</div><br>
	
	<strong>2013/11/05</strong>&nbsp;&nbsp;<strong>version 0.1.13</strong><br>
	<div>First REST API release (readonly json)</div><br>
	
	<strong>2013/11/03</strong>&nbsp;&nbsp;<strong>version 0.1.12</strong><br>
	<div>First Article deployed for public view</div><br>
	
	<strong>2013/11/03</strong>&nbsp;&nbsp;<strong>version 0.1.11</strong><br>
	<div>Working Preview Module on url prefix C</div><br>
	
	<strong>2013/11/02</strong>&nbsp;&nbsp;<strong>version 0.1.10</strong><br>
	<div>Done Cookie Module and Security</div><br>
	
	<strong>2013/10/30</strong>&nbsp;&nbsp;<strong>version 0.1.9</strong><br>
	<div>Server and Client validation for Register / Login / Reset.</div><br>
	
	<strong>2013/10/27</strong>&nbsp;&nbsp;<strong>version 0.1.8</strong><br>
	<div>New UI, CSS files and UX redesign</div><br>
	
	<strong>2013/10/25</strong>&nbsp;&nbsp;<strong>version 0.1.7</strong><br>
	<div>New Header on all Dashboard webpages</div><br>
	
	<strong>2013/10/23</strong>&nbsp;&nbsp;<strong>version 0.1.6</strong><br>
	<div>New Dashboard and Edit, Rename, Remove functionality</div><br>
	
	<strong>2013/10/21</strong>&nbsp;&nbsp;<strong>version 0.1.5</strong><br>
	<div>Working with S3 Module and Libraries</div><br>

	<strong>2013/10/17</strong>&nbsp;&nbsp;<strong>version 0.1.4</strong><br>
	<div>Refactoring, New Version of mDown</div><br>

	<strong>2013/10/17</strong>&nbsp;&nbsp;<strong>version 0.1.3</strong><br>
	<div>Support of Reseting password if user forgot</div><br>
	
	<strong>2013/10/10</strong>&nbsp;&nbsp;<strong>version 0.1.2</strong><br>
	<div>Refactored code, Added libraries Underscore and Validations</div><br>
	
	<strong>2013/10/06</strong>&nbsp;&nbsp;<strong>version 0.1.1</strong><br>
	<div>Brand new refactored mDown code</div><br>
				
</header>

<% include ../shared/footer-publics.html %>