<% include ../shared/head-publics.html %>
<body lang="en" class="usr">
<% include ../shared/top-publics.html %>

	<article class="register">
	
		<h2>Create new account</h2>
	
		<form role="form" method="post" action="./?register">
			<input type="email" name="email" placeholder="Email" required />
			<input type="password" name="password" minlength="6" placeholder="Password (>6 chars)" required />
			<input type="password" name="password2" minlength="6" placeholder="Password again" required />
			<button type="submit" disabled>Create</button>
		</form>
	
		<div class="rules">
			You can remove your account with <strong>all</strong> data anytime.<br>
			<a href="/login/">Log in</a> or <a href="/reset/">reset your password</a>.
		</div>
	
	</article>
	
	<script type="text/javascript">	
		$('form').validate({
			rules: { password2 : { equalTo : 'input[name=password]' } }
		});
	</script>
	
		
<% include ../shared/footer-publics.html %>