<% include ../shared/head-publics.html %>
<body lang="en" class="support">
<% include ../shared/top-publics.html %>

	<br>

	<h1>mDown Support</h1>
	
	<span>
		Do you have question? Plase, ask our support.
		<br>
		Mostly we solve request in first day.
	</span>
	
	<br><br><br>
	
	<img src="/s/support-images.jpg" alt="picture of new york city, panorama" />
	
	<form method="post" action="/-/create/form-createnew">
	
		<textarea>Write us some message..</textarea>
		<input type="text" name="name" placeholder="Name" required />
		<input type="email" name="email" placeholder="Email" required />
		<button type="submit">Contact Support</button>
	
	</form>

<% include ../shared/footer-publics.html %>
