/* settings */

    .modules h1 {
        margin: 10px 0 30px;
    }

    .modules h2 {
        margin: 30px 0 15px;
        font-size: 17px;
        font-weight: 300;
        color: #000;
    }

    .modules h3 {
        color: #42927F;
        text-decoration: underline;
        cursor: pointer;
        font-size: 13px;
        margin: 0;
        font-weight: 400;
    }

    .modules h3:hover {
        color: #40BEC2;
    }

    .modules .globals {
        margin-bottom: 30px;
    }

    .modules .question {
        margin: 7px 0 0;
        border: 1px solid #E2E2E2;
        padding: 10px 20px;
        background: #F7F7F7;
    }

    .modules form {
        margin: 20px 0 5px;
    }

