@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

/* general */
		
	::selection {
		background: #B3C0CF;
		color: #000;
	}
		
	::-moz-selection {
		background: #B3C0CF;
		color: #000;
	}
	
	body::selection {
		background: #B3C0CF;
		color: #000;
	}
		
	body::-moz-selection {
		background: #B3C0CF;
		color: #000;
	}
	
	a, a:hover, 
	button, button:hover,
	input, input:hover {
		-webkit-transition: background 0.1s;
		-moz-transition: background 0.1s;
		-ms-transition: background 0.1s;
		-o-transition: background 0.1s;
		transition: background 0.1s;
	}
	
	body, button, input, textarea, select {
		text-rendering: optimizeLegibility;
		font-size: 100%;
		-webkit-font-smoothing: antialiased;
	}
		
	html {
		height: 100%;
	}
	
	body {
		font: 13px/23px 'Open Sans', Helvetica, 'Lucida Grande', Verdana, sans-serif;
		width: 100%;
		color: #1C2022;
	}
	
	* {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
	}

	button, input {
		line-height: normal;
		padding: 10px;
		border: 1px solid #B9B9B9;
	}
	
	button {
		background: #42927F;
		color: #FFF;
	}
	
	button:hover {
		background: #40BEC2;
		color: #FFF;
	}
	
	a {
		color: #42927F;
	}
	
	a:hover {
		color: #40BEC2;
	}
	
	textarea {
		border: 1px solid #B9B9B9;
		padding: 10px;
	}
	
	select {
		border: 1px solid #B9B9B9;
		height: 40px;
	}




