	
	<% include ./../_layout/_layout-view-header.html %>


    <ul id="myTab" class="nav nav-tabs" style="margin-top: 30px;">
    	<li><a href="#tab1" data-toggle="tab">Browse</a></li>
		<li><a href="#tab3" data-toggle="tab">About</a></li>
		<li><a href="#tab2" data-toggle="tab">Settings</a></li>
    </ul>
    
    <section class="tab-content">

		<div class="tab-pane" id="tab1">
	
			<h3>Upload a new file to bucket</h3>
			
			<form class="form-horizontal" method="post" action="./amazon" enctype="multipart/form-data">

				<input type="hidden" value="as87a0d59d" name="svc" />
								 	
				<span class="btn btn-file">
			 		Upload
					<input type="file" name="myfile" style="margin-left:27px; line-height:10px; margin-top:11px;" multiple />
					<button type="submit" class="btn btn-primary">Upload</button>
				</span>
			
			</form>
			
			<h3>Browse all files in your bucket</h3>
			
			<input type="checkbox" class="checkall" /> 
			<span>Check all and</span>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="unlinka" name="action" />
				<button type="submit" class="btn btn-primary" value="unlink" name="kokot">Unlink</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="rename" name="action" />
				<button type="submit" class="btn btn-primary">Rename</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="move" name="action" />
				<button type="submit" class="btn btn-primary">Move</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="share" name="action" />
				<button type="submit" class="btn btn-primary">Share</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="download" name="action" />
				<button type="submit" class="btn btn-primary">Download</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="copy" name="action" />
				<button type="submit" class="btn btn-primary">Copy</button>
			</form>

			<table class="table table-striped">
				<thead>
					<tr>
						<td></td>
						<td>Key</td>
						<td>Size</td>
						<td>LastModified</td>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<myfiles.length; i++) { %>
					<tr>
						<td><input type="checkbox" /></td>
						<td><%= myfiles[i].Key %></td>
						<td><%= myfiles[i].Size %></td>
						<td><%= myfiles[i].LastModified %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			
			<input type="checkbox" class="checkall" /> 
			<span>Check all and</span>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="unlink" name="action" />
				<button type="submit" class="btn btn-primary">Unlink</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="rename" name="action" />
				<button type="submit" class="btn btn-primary">Rename</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="move" name="action" />
				<button type="submit" class="btn btn-primary">Move</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="share" name="action" />
				<button type="submit" class="btn btn-primary">Share</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="download" name="action" />
				<button type="submit" class="btn btn-primary">Download</button>
			</form>
			<form method="post" action="./amazon" class="inline-form">
				<input type="hidden" value="copy" name="action" />
				<button type="submit" class="btn btn-primary">Copy</button>
			</form>


			
		</div>

		<div class="tab-pane" id="tab2">
			
			<section class="row-fluid">
				
				<div class="span12">
					<h3 style="margin-bottom: 22px;">Admin settings</h3>
				</div>
							
				<section class="row-fluid">
						
					<fieldset class="span6">

						<legend>Personal Credentials</legend>

						<label>Email</label>
						<input type="text" name="item" placeholder="samuel@ondrek.com" style="width: 30em;" />

						<label>Password Hash Technique</label>
						<select style="width: 31em;">
							<option>SHA3-512 + Secret String + BLAKE</option>
							<option>SHA3-512 + Secret String + Grøstl</option>
							<option>SHA3-512 + Secret String + JH</option>
							<option>SHA3-512 + Secret String + Skein</option>
						</select>

						<label>Secret String for hash</label>
						<input type="text" name="item" placeholder="miomionn93J98H2FIUF3UIFnjkanajksndkaj" style="width: 30em;" />

						<label>Password</label>
						<input type="text" name="item" placeholder="******************" style="width: 30em;" />

						<label>Password again</label>
						<input type="text" name="item" placeholder="******************" style="width: 30em;" />
						
						<button type="submit" class="btn btn-primary">Save</button>
	
					</fieldset>
	
					<div class="span6" style="margin-top: 79px;">
						<div class="well info">
							In case of lost passworf for password recovery.
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							App uses only hashes of passwords in file. Without database.
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Salt for better password security. <a href="#">Random generate one</a>.
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Minimum 8 chars (hint: Use sentence with spaces).
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Your password is 292 days old. Expiration: 393 days.
						</div>
					</div>
			
				</section>
			
				<section class="row-fluid" style="margin-top: 35px;">
									
					<fieldset class="span6">
		
						<legend>Amazon Credentials</legend>
		
						<label>Access Key ID</label>
						<input type="text" name="item" placeholder="AKIAJQTLD2TZ2VZ4SVHB" style="width: 30em;" />
		
						<label>Secret Access Key</label>
						<input type="text" name="item" placeholder="L55oK03vKJuV6YhnzFoFRoX6/H1saxAf7hjEeRT8" style="width: 30em;" />
		
						<label>Bucket for Storage</label>
						<select style="width: 23.4em;">
							<option>My photos bucket</option>
							<option>All my music</option>
							<option>Backup of my photos</option>
						</select>
					
						<button type="submit" class="btn btn-primary" style="margin-top: -11px;">New Bucket</button>
					
		
						<label>Default Upload Region</label>
						<select style="width: 31em;">
							<option>US Standard</option>
							<option>US West (Oregon) - [us-west-2]</option>
							<option>US West (Northern California) - [us-west-1]</option>
							<option>EU (Ireland) - [EU]</option>
							<option>Asia Pacific (Singapore) - [ap-southeast-1]</option>
							<option>Asia Pacific (Sydney) - [ap-southeast-2]</option>
							<option>Asia Pacific (Tokyo) - [ap-northeast-1]</option>
							<option>South America (Sao Paulo) - [sa-east-1]</option>
						</select>
		
						<label>Default upload StorageClass</label>
						<select style="width: 31em;">
							<option>Standard - 99.999999999% durability</option>
							<option>Reduced Redundancy - 99.99% durability</option>
						</select>
		
						<button type="submit" class="btn btn-primary">Save</button>
					
					</fieldset>
			
					<div class="span6" style="margin-top: 79px;">
						<div class="well info">
							Your AWS access key ID from <a href="#">Security Credentials</a>.
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Your AWS secret access key.
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Choose existing bucket or create a new one.
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Closer to your home is better. Check also <a href="#">amazon prices</a>.
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Available Standard (9.5$/100GB) and Reduced (7.6$/100GB).
						</div>
					</div>
			
				</section>
			
				<section class="row-fluid" style="margin-top: 35px;">
									
					<fieldset class="span6">
		
						<legend>User settings</legend>
		
						<label>Quick find a user</label>
						<input type="text" data-provide="typeahead" placeholder="AKIAJQTLD2TZ2VZ4SVHB" style="width: 26em;" />
						<button type="submit" class="btn btn-primary" style="margin-top: -11px;">Find</button>
		
						<label>Max registred users / Max online users</label>
						<input type="text" name="item" placeholder="100" style="width: 14.4em;" />
						<input type="text" name="item" placeholder="100" style="width: 14.4em;" />
						
						<label>Password expiration / lenght</label>
						<input type="text" name="item" placeholder="10 months" style="width: 14.4em;" />
						<input type="text" name="item" placeholder="10 characters" style="width: 14.4em;" />
		
						<button type="submit" class="btn btn-primary">Save</button>
					
					</fieldset>
			
					<div class="span6" style="margin-top: 79px;">
						<div class="well info">
							Find user and edit permissions, folders, passwords..
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Smaller is cheaper.
						</div>
					</div>
				
					<div class="span6" style="margin-top: 27px;">
						<div class="well info">
							Security settings for improving user passwords.
						</div>
					</div>
			
				</section>
				
			</section>
			
		</div>
		
		<div class="tab-pane" id="tab3">

			<header style="margin-top: 37px;">
		
				<section class="row">
					
					<div class="span6">
						<h1>Samuel Cloud</h1>
						<p class="lead">Your own cloud solution on Amazon S3</p>
					</div>
					
					<div class="span6">
						<div class="well blue">
							<span style="display: block; font-weight: bold; margin-bottom: 1em;">Secure. Fast. Free &amp; Own.</span>
							Samuel Cloud is your own secure solution for scalable and fast cloud storage. Use inexpensive and unlimited file hosting on Amazon S3 with your own domain and yours users.
						</div>
					</div>
					
					<ul class="span12">
						
						<h2 style="margin-top: 45px;">We are amazing</h2>
						
						<li class="well entypo box">
							&#10002; 
							<span class="span">Lightweight - 7kb</span>
						</li>
						
						<li class="well entypo box">
							&#128101;
							<span class="span">User management</span>
						</li>
						
						<li class="well entypo box">
							&#128279;
							<span class="span">Easy to share</span>
						</li>
						
						<li class="well entypo box">
							&#9881;
							<span class="span">Crazy settings</span>
						</li>
						
						<li class="well entypo box">
							&#128711;
							<span class="span">NodeJs speed</span>
						</li>
						
						<li class="well entypo box">
							&#9000;
							<span class="span">Keyboard shortcuts</span>
						</li>
						
						<li class="well entypo box">
							&#128187;
							<span class="span">Fullscreen available</span>
						</li>
						
						<li class="well entypo box">
							&#128248;
							<span class="span">Without database</span>
						</li>
						
						<li class="well entypo box">
							&#9716;
							<span class="span">Disk Statistics</span>
						</li>
						
						<li class="well entypo box">
							&#128274;
							<span class="span">SHA3-512 hashes</span>
						</li>
						
						<li class="well entypo box">
							&#128256;
							<span class="span">Collaborate with friends</span>
						</li>
						
						<li class="well entypo box">
							&#59249;
							<span class="span">Setup a backup</span>
						</li>
						
						<li class="well entypo box">
							&#127748;
							<span class="span">Amazing slideshows</span>
						</li>
						
						<li class="well entypo box">
							&#127916;
							<span class="span">Listen your music</span>
						</li>
						
						<li class="well entypo box">
							&#59177;
							<span class="span">Easy-drop account</span>
						</li>
						
						<li class="well entypo box">
							&#128506;
							<span class="span">Your way</span>
						</li>
						
					</ul>
					
					<ul class="span12">
						
						<h2 style="margin-top: 45px;">We are social</h2>
						
						<li class="well entyposocial box">
							&#62208;
							<span class="span">Github integration</span>
						</li>
						
						<li class="well entyposocial box">
							&#62211;
							<span class="span">Flick import</span>
						</li>
						
						<li class="well entyposocial box">
							&#62217;
							<span class="span">Oneclick twitt file</span>
						</li>
						
						<li class="well entyposocial box">
							&#62222;
							<span class="span">Share files for friends</span>
						</li>
						
						<li class="well entyposocial box">
							&#62235;
							<span class="span">High-resolution shots</span>
						</li>
						
						<li class="well entyposocial box">
							&#62286;
							<span class="span">Backup your designs</span>
						</li>
						
						<li class="well entyposocial box">
							&#62253;
							<span class="span">Instagram full-res.</span>
						</li>
						
					</ul>
					
					<div class="span12">
						<div class="well blue" style="margin: 73px 0 40px;">
							<span style="display: block; font-weight: bold; margin-bottom: 1em;">What if ..</span>
							.. all your music, books, photos are under your domain? <br />
							.. 30GB costs 2$ with 99.99% durability? <br />
							.. is it Free, Open Source, Responsive, Simple &amp; Beautiful? <br />
							<span style="display: block; font-weight: bold; margin-top: 1em;">.. there is your own online planet?</span>
						</div>
					</div>
					
				</section>
		
			</header>

		</div>

	</section> <!-- end of tabcontainer -->
	    
	
	<% include ../_layout/_layout-view-footer.html %>