
	/* dashboard */

	.dashboard .articleslist {
		padding: 0;
		list-style-type: none;
		margin-top: 50px;
	}
	
	.dashboard .articleslist li {
		margin-bottom: 4px;
		padding: 4px 8px;
		border: 1px solid rgba(0, 0, 0, 0);
		cursor: pointer;
	}
	
	.dashboard .articleslist li:hover {
		background: #ECECEC;
		border-color: #CECECE;
	}

	.dashboard .articleslist .author,
	.dashboard .articleslist .category {
		float: right;
		color: #C4C4C4;
		margin-left: 10px;
	}
	
	.dashboard .articleslist li:hover .author,
	.dashboard .articleslist li:hover .category {
		color: black;
	}
	
	.dashboard .articleslist .edit,
	.dashboard .articleslist .details,
	.dashboard .articleslist .remove {
		float: right;
		color: #C4C4C4;
		margin-left: 10px;
		visibility: hidden;
	}
	
	.dashboard .articleslist li:hover .edit,
	.dashboard .articleslist li:hover .details,
	.dashboard .articleslist li:hover .remove {
		visibility: visible;
	}

	.dashboard .articleslist .published {
		color: #616161;
		margin-right: 10px;
	}
	
	.dashboard .articleslist a {
		color: inherit;
		text-decoration: none;
	}
	
	.dashboard .articleslist li:hover a {
		color: #22A7B3;
		text-decoration: underline;
	}