
	/* support */

	.support form {
		margin-top: -272px;
		margin-left: 17px;
		position: absolute;
	}

	.support textarea {
		display: block;
		width: 600px;
		height: 200px;
		margin-bottom: 20px;
		resize: none;
		background: rgba(255, 255, 255, 0.93);
	}

	.support input {
		width: 220px;
		margin-right: 17px;
		background: rgba(255, 255, 255, 0.93);
	}

	.support button {
		background: rgba(66, 146, 127, 0.93);
	}