<% include ../shared/head-privates.html %>
<body lang="en" class="create">
<% include ../shared/top-privates.html %>
	
<form method="post" action="/-/create/?new">
	
	<section class="container">
	
		<input type="text" name="title" value="Title of article" required />
		<textarea id="input" rows="6" cols="60" name="markdown">Today I saw ..</textarea>
		<span class="details">1828 words | 83 revisions</span>
	
	</section>

	<aside class="leftmenu">
			
		<button type="submit">Save</button>
		<span>or</span>
		<a href="#">Remove</a>
	
	</aside>
	
	<aside class="leftmenu">
			
		<label class="published">date: </label>
		<input type="text" name="published" value="2013-10-30" required />
		
		<label class="author">author: </label>
		<input type="text" name="author" value="Paul Irish" required />
		
		<label class="category">category: </label>
		<input type="text" name="category" value="Uncategoried" required />
	
	</aside>

</form>
	
<% include ../shared/footer-privates.html %>