<% include ../shared/head-privates.html %>
<body lang="en" class="create">
<% include ../shared/top-privates.html %>

<form method="post" action="?savenew">

	<section class="container">
	
		<textarea id="input" rows="6" cols="60" name="markdown">Here write</textarea>
		<span class="details">1828 words | 83 revisions</span>

		<ul class="tags">
			<li>
				<input type="text" name="name" value="" placeholder="name" required />
				<input type="text" name="value" value="" placeholder="value" required />
			</li>
			<li>
				<input type="text" name="name" value="" placeholder="name" required />
				<input type="text" name="value" value="" placeholder="value" required />
			</li>
			<li>
				<input type="text" name="name" value="" placeholder="name" required />
				<input type="text" name="value" value="" placeholder="value" required />
			</li>
			<li>
				<input type="text" name="name" value="" placeholder="name" required />
				<input type="text" name="value" value="" placeholder="value" required />
			</li>
			<li>
				<input type="text" name="name" value="" placeholder="name" required />
				<input type="text" name="value" value="" placeholder="value" required />
			</li>
			<li>
				<input type="text" name="name" value="" placeholder="name" required />
				<input type="text" name="value" value="" placeholder="value" required />
			</li>
		</ul>

	</section>

	<aside class="leftmenu">
			
		<button type="submit">Update</button>
		<span>or</span>
		<a href="?remove">Remove</a>
	
	</aside>
	
	

</form>
	
<% include ../shared/footer-privates.html %>