<% include ../shared/head-privates.html %>
<body lang="en" class="dashboard">
<% include ../shared/top-privates.html %>
		
	<ul class="articleslist">	
	<% articles.forEach(function(tag, i){ %>
		
		<li>
			<span class="published"><%= tag %></span>
			<span class="blogid"><a href="<%= '/-/blog/'+tag+'?preview' %>">
				<%= tag %>
			</a></span>
			<span class="author"><%= tag %></span>
			
			<span class="remove"><a href="<%= '/-/blog/'+tag+'?remove' %>">Remove</a></span>
			<span class="edit"><a href="<%= '/-/blog/'+tag+'?edit' %>">Edit</a></span>
		</li>
		
	<% }); %>
	</ul>

<% include ../shared/footer-privates.html %>