<% include ../shared/head-privates.html %>
<body lang="en" class="dashboard">
<% include ../shared/top-privates.html %>
		
	<ul class="articleslist">	
	<% articles.forEach(function(ele, i){ %>
		
		<li>
			<span class="published"><%= ele.tags.published %></span>
			<span class="blogid"><a href="<%= '/-/blog/'+ele.blogid+'?preview' %>">
				<%= ele.tags.title %>
			</a></span>
			<span class="author"><%= ele.tags.author %></span>
			
			<span class="remove"><a href="<%= '/-/blog/'+ele.blogid+'?remove' %>">Remove</a></span>
			<span class="edit"><a href="<%= '/-/blog/'+ele.blogid+'?edit' %>">Edit</a></span>
		</li>
		
	<% }); %>
	</ul>

<% include ../shared/footer-privates.html %>