<% include ../shared/head-privates.html %>
<body lang="en" class="blog">
<% include ../shared/top-privates.html %>

	<ul>
		<li>
			Templates (markup, javascript and stylesheets) for: <br>
			<a href="/-/template/?index">Index</a>,
			<a href="/-/template/?archive">Archive</a> &amp;
			<a href="/-/template/?page">Page</a><br><br>
		</li>
		<li>
			Download custom build for your blog and upload to your hosting<br>
			<a href="/-/generate/">Download ZIP</a>, <a href="#">Commit to Github</a>, <a href="#">Upload to S3</a><br><br>
		</li>
		<li>
			You can create new, rename or remove tags of articles<br>
			<a href="/-/tags/">Tags</a><br><br>
		</li>
	</ul>
	
<% include ../shared/footer-privates.html %>

