<% include ../shared/head-privates.html %>
<body lang="en" class="template">
<% include ../shared/top-privates.html %>
		
	<form role="form" method="post" action="./?update">

		<input type="hidden" value="<%- type %>" name="type" />

		<div>
			<button type="submit">Update Template</button>
		</div>

		<h2>Pregenerate</h2>
		<code><textarea name="pregenerate" required><%- pregenerate %></textarea></code>

		<h2>HTML markup</h2>
		<code><textarea name="markup" required><%- markup %></textarea></code>

		<h2>CSS Styles</h2>
		<code><textarea name="stylesheets" required><%- stylesheets %></textarea></code>

		<h2>Javascript</h2>
		<code><textarea name="javascript" required><%- javascript %></textarea></code>

	</form>
	
<% include ../shared/footer-privates.html %>