<% include shared/head-privates.html %>
<body lang="en" class="usr">
	
        <article class="mdsyntax">
			
                <%- data.html  %>
        
        </article>
        
        <aside>
			
	            <strong>ID:</strong>
	            <span><%= data.blogid  %></span>
	            <br><br>
				
	            <strong>Title:</strong>
	            <span><%= data.title  %></span>
	            <br><br>
				
                <strong>Author:</strong>
                <span><%= data.author  %></span>
                <br><br>
				
                <strong>Category:</strong>
                <span><%= data.category  %></span>
				<br><br>
                
                <strong>Published:</strong>
                <span><%= data.publised  %></span>
				<br><br>             
                                
        </aside>
                
        <script src="/s/jquery.js"></script>

</body></html>