/* imports, can be links for better performance */


    @import url("./normalize.min.css");


/* typography, load fonts from awesome google fonts */


    @font-face {
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 400;
        src: local('PT Serif'), local('PTSerif-Regular'),
        url(http://themes.googleusercontent.com/static/fonts/ptserif/v6/sDRi4fY9bOiJUbgq53yZCXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
    }
    @font-face {
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        src: local('PT Serif Bold'), local('PTSerif-Bold'),
        url(http://themes.googleusercontent.com/static/fonts/ptserif/v6/QABk9IxT-LFTJ_dQzv7xpLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
    }


/* fancy shit and border-box */


    * {
        box-sizing: border-box;
    }

    ::selection {
        background: #6495DF;
        color: #FFF;
    }
    ::-moz-selection {
        background: #6495DF;
        color: #FFF;
    }

    a {
        text-shadow: 0 0 2px transparent;
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        text-shadow: 0 0 1px #415191;
    }


/* stylesheets for men with big muscles */


    /* general resets */


    html {
        font: normal 400 15px/27px "PT Serif", "Georgia", "serif";
        max-width: 1200px;
        color: #282C24;
        margin: 0 auto;
        padding: 170px 10px 50px;
        font-weight: 400;
    }

    html:before {
        background: #000;
    }

    code {
        font: normal 400 14px/25px "Inconsolata", "monospace", "serif";
        white-space: pre-wrap;
        color: #26487C;
    }

    a {
        color: #DB5D7B;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    hr { /* &NBSP, BR and HR can be used, only if you know how */
        height: 20px;
        border: 0;
    }

    h1 {
        font-size: 46px;
        font-weight: 600;
        line-height: 50px;
        margin: 0;
    }

    h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
    }

    h3 {
        font-size: 19px;
        font-weight: 400;
        line-height: 19px;
        margin: 0;
    }

    /* funky effect (can be anytime removed) */

    html:before { /* thin line on top of document */
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
    }

    html:after { /* thin line on top of document */
        content: 'proudly with a beauty of css and html';
        display: block;
        position: absolute;
        top: 5px;
        right: 15px;
        color: #FFF;
        font-size: 12px;
    }

    body:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 800px;
        width: 100%;
        z-index: -1;
        background-image: url("./indexphoto.jpg");
        background-size: 100%;
    }


    /* index styles - define first class  */


    ._index h1 {
        margin: 128px 0 0;
        color: #000;
        text-align: center;
    }

    ._index .gvatar {
        position: absolute;
        float: left;
        top: 10px;
        left: 10px;
        opacity: 0.6;
        -webkit-border-radius: 5px 5px 16px 5px;
        -moz-border-radius: 5px 5px 16px 5px;
        border-radius: 5px 5px 16px 5px;
    }

    ._index strong {
        margin: 15px 0 0;
        text-align: center;
        display: block;
        font-size: 22px;
        font-weight: 400;
        line-height: 20px;
        color: #5F5F5F;
    }

    ._index ul {
        padding: 0;
        }

    ._index li {
        list-style-type: none;
        margin-bottom: 54px;
        color: #616161;
    }

    ._index h2 {
        margin-bottom: 21px;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }

    ._index main {
        width: 720px;
        float: left;
    }

    ._index aside {
        width: 400px;
        float: right;
        border-left: 1px solid #ACACAC;
        height: 100%;
        margin-left: 60px;
        padding-left: 50px;
    }

    ._index main div {
        margin-top: 29px;
        font-size: 15px;
        line-height: 15px;
        text-align: right;
        color: #D3D3D3;
    }

    ._index footer {
        margin-top: 200px;
        font-size: 13px;
        color: #A89999;
    }
