
	body  {
		max-width: 1200px;
		margin: 0 auto;
	}
	
	button.aslink {
		padding: 0;
		background: transparent;
		border: 0;
		color: #006dcc;
		text-shadow: none;
		box-shadow: none;
	}
	
	abbr {
		color: red;
		font-weight: 800;
	}
	
	.index .box {
		padding: 13px;
		border-radius: 4px;
		background: black; 
		color: white;
		margin: 12px 0.58%;
		float: left;
		display: inline-block;
		width: 21.55%;
		text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	}
	
	@media only screen and (min-width: 980px) and (max-width: 1200px) {
		body.index  { max-width:980px; }
		.index .box { width: 21%; height:153px; }
	}
	
	@media only screen and (min-width: 360px) and (max-width: 980px) {
		body.index  { max-width:980px; min-width:300px; margin: 0 1Opx; }
		.index .box { width: auto; display: block; float: none; }
		.index article { margin-top: 40px !important; }
	}
	
	.index .box h2 {
		font-weight: 600;
		font-size: 1.2em;
		margin: 0;
	}
	
	.index .box p {
		font-size: 0.9em;
	}
	
	.textshadow .index h1 {
		margin: 125px 7px;
		color: rgb(224, 201, 105);
		font-weight: 300;
		text-align: right;
		font-family: 'Changa One', 'Open Sans', sans-serif;
	}
	
	.index a {
		color: inherit;
		text-decoration: none;
	}
	
	.textshadow .index article {
		margin: 0 7px 18px 7px;
		border-radius: 4px;
		padding: 13px;
		text-align: right;
		text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
		padding-top: 21px;
		background: rgb(224, 201, 105);
		text-align: center;
		transition: background 1s ease-in-out;
		-moz-transition: background 1s ease-in-out;
		-webkit-transition: background 1s ease-in-out;
		color: white;
	}
	
	article {
		margin: 0 7px 18px 7px;
		border-radius: 4px;
		padding: 13px;
		text-align: right;
		padding-top: 21px;
		background: white;
		text-align: center;
		color: black;
	}
	
	.index article:hover {
		background: rgba(231, 231, 231, 0.1);
		border: 1px solid rgba(150, 150, 150);
	}
	
	.index footer {
		margin: 50px 0;
		font-size: .9em;
		text-align: right;
		padding-right: 7px;
	}