	
	<% include _header.html %>
	
	<% 
		var files = myfiles.files;
		var folders = myfiles.folders;
	%>
	

	<table class="table table-striped">
		<thead>
			<tr>
				<td></td>
				<td>Key</td>
				<td>Size</td>
				<td>LastModified</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td><a href="../">...</a></td>
				<td></td>
				<td></td>
			</tr>
			
			<% for(var i=0; i<folders.length; i++) { %>
				<tr>
					<td><input type="checkbox" /></td>
					<td><a href="./<%= folders[i].Hash %>/"><%= folders[i].Key %></a></td>
					<td></td>
					<td></td>
				</tr>
			<% } %>
			
			<% for(var i=0; i<files.length; i++) { %>
				<tr>
					<td><input type="checkbox" /></td>
					<td><a href="./<%= files[i].Hash %>/"><%= files[i].Key %></a></td>
					<td><%= files[i].Size %></td>
					<td><%= files[i].LastModified %></td>
				</tr>
			<% } %>
			
		</tbody>		
	</table>
			