	
	@import url('./texteditor.css');
	
	body {
		padding-bottom: 100px;
	}
	
	/* nav */
	
		.globals {
			margin: 20px 0 10px;
			padding: 0;
		}
		
		.globals ul {
			width: 1200px;
			margin: 0 auto;
			padding: 0;
		}
	
		.globals li {
			display: inline-block;
			margin: 2px 8px;
			list-style: none;
			font-size: 13px;
			color: #000;
			color: #576481;
		}
	
		.globals a {
			text-decoration: none;
			display: inline-block;
			font-weight: 600;
			color: inherit;
		}
	
		.globals a:hover {
			text-decoration: underline;
		}
		
		.globals li:first-child {
			margin-left: 0;
			color: #C9C9C9;
		}
	
	/* settings */
	
		.settings h1 {
			margin: 10px 100px 30px;
		}
	
		.settings h2 {
			margin: 30px 100px 15px;
			font-size: 17px;
			font-weight: 300;
			color: #000;
		}
	
		.settings h3 {
			color: #42927F;
			text-decoration: underline;
			cursor: pointer;
			font-size: 13px;
			margin: 0;
			font-weight: 400;
		}
	
		.settings h3:hover {
			color: #40BEC2;
		}
	
		.settings .globals {
			margin-bottom: 30px;
		}
	
		.settings .question {
			margin: 7px 100px 0;
			border: 1px solid #E2E2E2;
			padding: 10px 20px;
			background: #F7F7F7;
		}
	
		.settings form {
			margin: 20px 0 5px;
		}
	
	/* create */
	
		.create body {
			padding: 0;
			width: 1200px;
			margin: 0 auto;
			overflow: hidden;
		}
		
		.create textarea {
			font-family: Consolas, "droid-sans-mono", Monaco, Menlo, "Courier New", monospace;
			font-weight: 400;
			font-size: 13px;
			line-height: 17px;
			white-space: pre;
		}
	
		.create textarea {
			width: 800px;
			resize: none;
			border: 1px solid #E2E2E2;
			position: fixed;
			bottom: 30px;
			top: 60px;
			padding: 30px 40px;
			background: transparent;
		}
		
		.create .details {
			position: fixed;
			bottom: 5px;
			font-size: 11px;
			color: #8A8A8A;
		}
		
		.create .leftmenu {
			width: 384px;
			background: #E8EAEC;
			float: right;
			padding: 30px 40px;
			margin-bottom: 306px;
			margin-top: 2px;
		}
		
		.create .leftmenu ul {
			padding: 0;
		}
		
		.create .leftmenu li {
			list-style-type: none;
			padding: 2px 0;
		}
		
		.create .leftmenu input[type=checkbox]{
			margin-right: 8px;
		}
		










